<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
        <package name="tk.mybatis.simple.model"></package>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""></property>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <!--<property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
                <property name="driver" value="net.sf.log4jdbc.sql.jdbcapi.DriverSpy"/>
                <!--<property name="url" value="jdbc:mysql://localhost:3306/code?useUnicode=true&amp;characterEncoding=utf-8&amp;serverTimezone=UTC&amp;useSSL=false"></property>-->
                <property name="url" value="jdbc:log4jdbc:mysql://localhost:3306/code?useUnicode=true&amp;characterEncoding=utf-8&amp;serverTimezone=UTC&amp;useSSL=false"></property>
                <property name="username" value="root"></property>
                <property name="password" value="tang"></property>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="tk.mybatis.simple.mapper"></package>
    </mappers>
</configuration>